body {
  font-family: Arial, sans-serif;
}

h1 {
  color: #333;
}

.Horse-Conatianer{
  margin: 10px;

}

.horse-list {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-wrap: wrap;
  background-color: grey;
  
}

.horse-card {
  width: 200px;
  text-align: center;
  margin: 20px;
}

.horse-card img {
  width: 100%;
  height: auto;
}

button {
  background-color: #4CAF50;
  color: white;
  padding: 15px 20px;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #45a049;
}

form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: auto;
}

form label {
  margin: 10px 0;
}

form input, form select {
  padding: 10px;
  font-size: 16px;
}

form button {
  margin-top: 20px;
}
